RewriteEngine On

# If the user is asking for a real file (like an image or CSS), just give it to them

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send everything to index.php

RewriteRule ^ index.php [L]
